header {
    width: 100%;
    padding: 28px 8%;
    /*aqui configurei para que o menu fique fixo no topo da pagina enquanto rolo a tela*/
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 3;
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

#nav_list {
    display: flex; /*o display flex sozinho ja deixa os elementos um do lado do outro*/
    list-style: none; /* quando temos listas ol ou ul, elas vem com uma decoração no inicio de cada elemento da lista, essa propriedade retira essa decoração(que é sempre uma bola, quadrado ou bola branca)*/ 
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600; /*grossura da fonte*/
}


/*é um pseudoclass que representa o estado de um elemento enquanto ele está sendo ativado — ou seja, quando o usuário está interagindo com ele, normalmente clicando com o mouse ou pressionando com o dedo (em dispositivos móveis).*/
.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100; 
    /*nesse caso, ele vai funcionar pra quando eu clickar em cima de um elemento, fique com uma barrinha amarela embaixo, indicando que aquele elemento esta selecionado*/ 
}

#mobile_btn {
    display: none; /*o elemento some nessa config*/
}

#mobile_menu {
    display: none;
}


@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    } /*quando a tela ficar no tamanho definido acima, esse vai sumir*/


    #mobile_btn { /*isso é, quando a tela tiver no tamanho definido acima, vai aparecer as 3 listas com as opções q eu havia ocultado la em cima*/
        display: block;
        border: none;
        background-color: transparent; /*elemento vai ficar transparente no fundo*/
        font-size: 1.5rem;
        cursor: pointer;
    }


    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column; /*deixa um embaixo do outro*/
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}